<article class="col-md-12">
  <div>
    <form class="navbar-form form-search" id="media-explorer" (ngSubmit)="search(mediaSearch.value)">
      <div class="form-group clearfix">
        <input placeholder="Explore Media" id="media-search" type="search" class="form-control" autocomplete="off" [value]="searchQuery"
          #mediaSearch name="mediaSearch">
        <button class="btn btn-transparent btn-submit" type="submit" title="search with echoes">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <code>
    There are {{ (videos$ | async).length }} videos
  </code>
  <ul class="list-unstyled">
    <app-youtube-list [list]="videos$ | async" (queue)="queueSelectedVideo($event)" (play)="playSelectedVideo($event)"></app-youtube-list>
  </ul>
  <section *ngIf="(videos$ | async).length">
    <button class="btn btn-primary" (click)="searchMore(mediaSearch.value)">
      Search More
    </button>
  </section>
</article>
