<button class="btn btn-navbar btn-link ux-maker btn-toggle" (click)="toggleMenu()">
  <icon name="ellipsis-v"></icon>
  <icon *ngIf="appVersion.isNewAvailable" name="dot-circle-o" class="pulse update-indicator text-primary"></icon>
</button>
<div class="panel menu-dropdown" [class.slideInDown]="!hide">
  <div class="menu-backdrop" *ngIf="!hide" (click)="hideMenu()"></div>
  <div class="list-group">
    <a class="list-group-item" href="http://github.com/orizens/echoes-player" target="_blank">
      <icon name="github"></icon> Source Code @Github
    </a>
    <div class="list-group-item">
      Theme:
      <app-button-group [buttons]="theme.themes" [selectedButton]="theme.selected" (buttonClick)="updateTheme($event)"></app-button-group>
    </div>
    <button class="list-group-item" *ngIf="signedIn" (click)="handleSignOut()">
      <icon name="sign-out"></icon> Sign Out
    </button>
  </div>
</div>
